<h1>Ask!</h1>
 <form class="form" action="/answer" method="get">
    <input type="text" name="question" placeholder="What do you want to say?" class="txt-input">
    <input type="submit" value="Ask!" class="btn-submit">
  </form>
